<a href="https://colab.research.google.com/github/toba717/DataScience/blob/main/hw1/CS_148_HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
income = pd.read_csv('/content/drive/MyDrive/CS148_data/hw1/income.csv')

Mounted at /content/drive

In [ ]:
income

    Income  Consumption  Experience
0      100           27           8
1       90           41           9
2       28           50           2
3       40           15           3
4       39           20           1
5       59           28           3
6       60           43           5
7       62           50           3
8       64           51           5
9      100           75           7
10     104           83          10
11     110           80          12
12     114           85           4
13     132           95           8

In [ ]:
# consumption based on income
lin_reg = LinearRegression()
x_train = income["Income"].values.reshape(-1,1)

lin_reg.fit(x_train, income["Consumption"])

LinearRegression()

In [ ]:
print(lin_reg.coef_)
print(lin_reg.intercept_)

[0.61997021]
4.270916376452803

In [ ]:
# income based on working experience
lin_reg1 = LinearRegression()
x_train_1 = income["Experience"].values.reshape(-1,1)

lin_reg1.fit(x_train_1, income["Income"])

LinearRegression()

In [ ]:
print(lin_reg1.coef_)
print(lin_reg1.intercept_)

[7.58]
35.400000000000006

In [ ]:
# Finding the R-Squared
pred = lin_reg.predict(x_train)
r2 = r2_score(income["Consumption"].values, pred)
print(r2)

0.5815606212788424

In [ ]:
pred1 = lin_reg1.predict(x_train_1)
r2_1 = r2_score(income["Income"].values, pred1)
print(r2_1)

0.6026979398313262

In [ ]:
pred1

array([ 96.04, 103.62,  50.56,  58.14,  42.98,  58.14,  73.3 ,  58.14,
        73.3 ,  88.46, 111.2 , 126.36,  65.72,  96.04])

Experiment Dataseet

In [ ]:
experiment = pd.read_csv('/content/drive/MyDrive/CS148_data/hw1/experiment.csv')
experiment

      x         y
0     0  5.060758
1     0  4.589827
2     0  4.334874
3     0  5.175538
4     0  5.981996
..   ..       ...
995  19  6.217576
996  19  8.048165
997  19  5.127057
998  19  6.717842
999  19  7.244118

[1000 rows x 2 columns]

In [ ]:
lin_reg_exp = LinearRegression()
x_train_2 = experiment["x"].values.reshape(-1,1)

lin_reg_exp.fit(x_train_2, experiment["y"])

LinearRegression()

In [ ]:
print(lin_reg_exp.coef_)
print(lin_reg_exp.intercept_)

[0.09923934]
4.528512452352857

In [ ]:
# Finding the R Squared
pred = lin_reg_exp.predict(x_train_2)
r2_exp = r2_score(experiment["y"].values, pred)
print(r2_exp)

0.2107272532015826

In [ ]:
# Hypothesis test
predictor_var = experiment["x"]
predictor_var = sm.add_constant(predictor_var)
target_var = experiment["y"]
model = sm.OLS(target_var, predictor_var)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.211
Model:                            OLS   Adj. R-squared:                  0.210
Method:                 Least Squares   F-statistic:                     266.5
Date:                Fri, 03 Feb 2023   Prob (F-statistic):           2.85e-53
Time:                        20:50:46   Log-Likelihood:                -1521.0
No. Observations:                1000   AIC:                             3046.
Df Residuals:                     998   BIC:                             3056.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          4.5285      0.068     67.027      0.000       4.396       4.661
x              0.0992      0.006     16.323      0.000       0.087       0.111
==============================================================================
Omnibus:                        2.551   Durbin-Watson:                   1.999
Prob(Omnibus):                  0.279   Jarque-Bera (JB):                2.419
Skew:                          -0.114   Prob(JB):                        0.298
Kurtosis:                       3.080   Cond. No.                         21.5
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/usr/local/lib/python3.8/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [ ]:
print(results.pvalues)

const    0.000000e+00
x        2.851809e-53
dtype: float64

In [ ]:
# confidence interval

In [ ]:
results.conf_int(alpha = 0.05, cols = None)

              0         1
const  4.395932  4.661093
x      0.087309  0.111170

Volcano Dataset

In [ ]:
volcano = pd.read_csv('/content/drive/MyDrive/CS148_data/hw1/volcano.csv')

In [ ]:
volcano

    duration  next
0        2.0    50
1        1.8    57
2        3.7    55
3        2.2    47
4        2.1    53
5        2.4    50
6        2.6    62
7        2.8    57
8        3.3    72
9        3.5    62
10       3.7    63
11       3.8    70
12       4.5    85
13       4.7    75
14       4.0    77
15       4.0    70
16       1.7    43
17       1.8    48
18       4.9    70
19       4.2    79
20       4.3    72

In [ ]:
lin_reg_vol = LinearRegression()
x_train_3 = volcano['duration'].values.reshape(-1,1)

lin_reg_vol.fit(x_train_3, volcano['next'])

LinearRegression()

In [ ]:
print(lin_reg_vol.coef_)
print(lin_reg_vol.intercept_)

[9.79006898]
31.013109978150048

In [ ]:
pred = lin_reg_vol.predict(x_train_3)

r2_2 = r2_score(volcano['next'].values, pred)
print(r2_2)

0.7490804158751225

In [ ]:
predictor_var1 = volcano["duration"]
predictor_var1 = sm.add_constant(predictor_var1)
target_var1 = volcano["next"]

model1 = sm.OLS(target_var1, predictor_var1)
results1 = model1.fit()
results1.conf_int(alpha = 0.5, cols = None)

/usr/local/lib/python3.8/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

                  0          1
const     27.976171  34.050049
duration   8.896226  10.683912